{% extends 'e-commerce/index.html' %} {% load static %} {% block body %}

<section class="content">
  <div class="col-12 table-responsive">
    <table class="table table-striped">
      {% for c in comic %}
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Comic</th>
          <th>Descripcion</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{cart}}</td>
          <td>{{c.title}}</td>
          <td>{{c.description}}</td>
          <td>{{c.price}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
    <br>
  <div class="row">
    <div class="col-6">
      <p class="lead">Metodos de Pago:</p>
      <img src="{% static 'dist/img/credit/visa.png'%}" alt="Visa" />
      <img
        src="{% static 'dist/img/credit/mastercard.png' %}"
        alt="Mastercard"
      />
      <img
        src="{% static 'dist/img/credit/american-express.png'%}"
        alt="American Express"
      />
      <img src="{% static 'dist/img/credit/paypal2.png'%}" alt="Paypal" />
    </div>
     
  </div>
  <div class="row no-print">
    <div class="col-12">
      <a href="{% url 'saludo' %}" type="button" class="btn btn-success float-right mr-5">
        <i class="far fa-credit-card"></i> Confirmar Pago
      </a>
    </div>
  </div>
</section>

{% endblock %}
