{% extends 'e-commerce/index.html' %} {% load static %} {% block body %}

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-widget widget-user-2">
        <div class="card-warning">
          <div class="card-header">
            <h3 class="card-title">Tus Favoritos</h3>
          </div>
        </div>
        <div class="widget-user-header bg-warning">
          <div class="widget-user-image">
            <img
              class="img-circle elevation-2"
              src="{% static 'dist/img/avatar5.png' %}"
              alt="User Avatar"
            />
          </div>

          <h3 class="widget-user-username">{{user.username}}</h3>
          <h5 class="widget-user-desc">Lista de favoritos</h5>
        </div>
        <div class="card-footer p-0">
          <ul class="nav flex-column">
            <li class="nav-item">
              <b class="nav-link">
                Cantidad de Favoritos <span class="float-right badge bg-primary">{{favoritos}}</span>
              </b>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="col-12 table-responsive">
  <div class="card-warning">
    <div class="card-header">
      <h3 class="card-title">
        Tu detalle de <b>Favoritos</b>
      </h3>
    </div>
  </div>
  <table class="table table-striped">
   
    <thead>
      <tr>
        <th>Comic</th>
        <th>Descripción</th>
      </tr>
    </thead>
    {% for c in comic %}
    <tbody>
      <tr>
        <td>{{c.title}}</td>
        <td>{{c.description}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

</section>

{% endblock %}
