{% extends 'e-commerce/index.html' %} {% load static %} {% block body %}

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-widget widget-user-2">
        <div class="widget-user-header bg-warning">
          <div class="widget-user-image">
            <img
              class="img-circle elevation-2"
              src="{% static 'dist/img/avatar5.png' %}"
              alt="User Avatar"
            />
          </div>

          <h3 class="widget-user-username">{{user.username}}</h3>
          <h5 class="widget-user-desc">Lista de favoritos</h5>
        </div>
        <div class="card-footer p-0">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
                Cantidad de Favoritos <span class="float-right badge bg-primary">{{favoritos}}</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                Comics Totales <span class="float-right badge bg-info">{{comic}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</section>

{% endblock %}
