{% extends "e-commerce/base.html" %}
{%load static%}
{% block body %}

  <div class="row">
    <div class="col-md-5">
     
      <div class="card card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Description">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="price" placeholder="Price">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="stock" placeholder="Stcok">
          </div>
          <div class="form-group">
            <input type="url" class="form-control" name="picture" placeholder="Picture">
          </div>
          <button class="btn btn-primary btn-block btn-sm">
            Save
          </button><br/>
        </form>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Picture</td>
            <td>OPTIONS</td>
          </tr>
        </thead>
        <tbody>
          {% for comic in comic %}
          <tr>
            <td>{{comic.marvel_id}}</td>
            <td>{{comic.title}}</td>
            <td>{{comic.description}}</td>
            <td>{{comic.price}}</td>
            <td>{{comic.stock_qty}}</td>
            <td>{{comic.picture}}</td>
            <td>
              <a href="" class="btn btn-warning btn-sm">Edit</a>
              <a href="" class="btn btn-danger btn-eliminar btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}